:root,
:host,
.sl-theme-light {
  color-scheme: light;

  /*
   * Brand colors
   */

  --dds-white: #ffffff;
  --dds-horizon-blue: #00dffa;
  --dds-black: #282828;
  --dds-fender-dirt: #b78b65;
  --dds-fender-dirt-shade: #715b49;
  --dds-red: #b40c18;
  --dds-lightest-gray: #eeeeeb;
  --dds-light-gray: #c8c9c7;
  --dds-gray: #75787b;

  /*
   * Theme Tokens
   */

  --sl-color-gray-50: hsl(0 0% 95%);
  --sl-color-gray-100: hsl(240 9.1% 91.8%);
  --sl-color-gray-200: hsl(240 7.3% 84%);
  --sl-color-gray-300: hsl(240 5.6% 73%);
  --sl-color-gray-400: hsl(240 5.3% 58%);
  --sl-color-gray-500: hsl(240 3.7% 44%);
  --sl-color-gray-600: hsl(240 5% 35.5%);
  --sl-color-gray-700: hsl(240 5% 27.6%);
  --sl-color-gray-800: hsl(240 4.6% 22%);
  --sl-color-gray-900: hsl(240 5.7% 18.2%);
  --sl-color-gray-950: hsl(240 5.1% 15%);

  /* Primary */
  --dds-color-primary: var(--dds-horizon-blue);
  --dds-color-primary-inverse: var(--dds-black);

  --sl-color-primary-50: #e5fcff;
  --sl-color-primary-100: #ccf9ff;
  --sl-color-primary-200: #99f3ff;
  --sl-color-primary-300: #66edff;
  --sl-color-primary-400: #33e7ff;
  --sl-color-primary-500: #00dffa;
  --sl-color-primary-600: #00b8cc;
  --sl-color-primary-700: #008a99;
  --sl-color-primary-800: #005c66;
  --sl-color-primary-900: #002e33;
  --sl-color-primary-950: #00171a;

  /* Success */
  --sl-color-success-50: #e9fbee;
  --sl-color-success-100: #d4f7de;
  --sl-color-success-200: #a9efbd;
  --sl-color-success-300: #7ee79c;
  --sl-color-success-400: #53df7b;
  --sl-color-success-500: #29d65a;
  --sl-color-success-600: #21ab48;
  --sl-color-success-700: #188136;
  --sl-color-success-800: #105624;
  --sl-color-success-900: #082b12;
  --sl-color-success-950: #041609;

  /* Warning */
  --sl-color-warning-50: #fcf7e9;
  --sl-color-warning-100: #f9efd2;
  --sl-color-warning-200: #f3dea5;
  --sl-color-warning-300: #edce78;
  --sl-color-warning-400: #e4b744;
  --sl-color-warning-500: #dfa920;
  --sl-color-warning-600: #b38719;
  --sl-color-warning-700: #866513;
  --sl-color-warning-800: #59430d;
  --sl-color-warning-900: #2d2206;
  --sl-color-warning-950: #161103;

  /* Danger */
  --sl-color-danger-50: #fde8e9;
  --sl-color-danger-100: #fbd0d2;
  --sl-color-danger-200: #f7a1a5;
  --sl-color-danger-300: #f37278;
  --sl-color-danger-400: #ef434c;
  --sl-color-danger-500: #eb141f;
  --sl-color-danger-600: #b40c18;
  --sl-color-danger-700: #8f0a13;
  --sl-color-danger-800: #5f070d;
  --sl-color-danger-900: #2f0406;
  --sl-color-danger-950: #170203;

  /* Neutral */
  --sl-color-neutral-50: var(--sl-color-gray-50);
  --sl-color-neutral-100: var(--sl-color-gray-100);
  --sl-color-neutral-200: var(--sl-color-gray-200);
  --sl-color-neutral-300: var(--sl-color-gray-300);
  --sl-color-neutral-400: var(--sl-color-gray-400);
  --sl-color-neutral-500: var(--sl-color-gray-500);
  --sl-color-neutral-600: var(--sl-color-gray-600);
  --sl-color-neutral-700: var(--sl-color-gray-700);
  --sl-color-neutral-800: var(--sl-color-gray-800);
  --sl-color-neutral-900: var(--sl-color-gray-900);
  --sl-color-neutral-950: var(--sl-color-gray-950);

  /* Neutral one-offs */
  --sl-color-neutral-0: hsl(0, 0%, 100%);
  --sl-color-neutral-1000: hsl(0, 0%, 0%);

  /*
   * Border radii
   */

  --sl-border-radius-small: 1px;
  --sl-border-radius-medium: 2px;
  --sl-border-radius-large: 4px;
  --sl-border-radius-x-large: 1rem;

  --sl-border-radius-circle: 50%;
  --sl-border-radius-pill: 9999px;

  /*
   * Elevations
   */

  --sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /*
   * Spacings
   */

  --sl-spacing-3x-small: 0.125rem; /* 2px */
  --sl-spacing-2x-small: 0.25rem; /* 4px */
  --sl-spacing-x-small: 0.5rem; /* 8px */
  --sl-spacing-small: 0.75rem; /* 12px */
  --sl-spacing-medium: 1rem; /* 16px */
  --sl-spacing-large: 1.25rem; /* 20px */
  --sl-spacing-x-large: 1.75rem; /* 28px */
  --sl-spacing-2x-large: 2.25rem; /* 36px */
  --sl-spacing-3x-large: 3rem; /* 48px */
  --sl-spacing-4x-large: 4.5rem; /* 72px */

  /*
   * Transitions
   */

  --sl-transition-x-slow: 1000ms;
  --sl-transition-slow: 500ms;
  --sl-transition-medium: 250ms;
  --sl-transition-fast: 150ms;
  --sl-transition-x-fast: 50ms;

  /*
   * Typography
   */

  /* Fonts */
  --sl-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --sl-font-header: decked-web, sans-serif;
  --sl-font-sans: decked-web, sans-serif;

  --sl-text-transform-header: uppercase;

  --dds-color-foreground: var(--dds-black);
  --dds-color-inverse: var(--dds-white);
  --dds-color-background: var(--dds-white);
  --dds-color-text-muted: var(--dds-gray);

  /* Font sizes */
  --sl-font-size-2x-small: var(--text-sm, 0.625rem); /* 10px */
  --sl-font-size-x-small: var(--text-sm, 0.75rem); /* 12px */
  --sl-font-size-small: var(--text-base, 0.875rem); /* 14px */
  --sl-font-size-medium: var(--text-lg, 1rem); /* 16px */
  --sl-font-size-large: var(--text-xl, 1.125rem); /* 18px */
  --sl-font-size-x-large: var(--text-2xl, 1.375rem); /* 22px */
  --sl-font-size-2x-large: var(--text-3xl, 1.4rem); /* 24px */
  --sl-font-size-3x-large: var(--text-4xl, 2rem); /* 32px */
  --sl-font-size-4x-large: var(--text-h1, 3rem); /* 48px */

  /* Font weights */
  --sl-font-weight-light: 300;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 500;
  --sl-font-weight-bold: 700;

  /* Letter spacings */
  --sl-letter-spacing-denser: -0.03em;
  --sl-letter-spacing-dense: -0.015em;
  --sl-letter-spacing-normal: normal;
  --sl-letter-spacing-loose: 0.025em;
  --sl-letter-spacing-looser: 0.05em;

  /* Line heights */
  --sl-line-height-denser: 1;
  --sl-line-height-dense: 1.4;
  --sl-line-height-normal: 1.8;
  --sl-line-height-loose: 2.2;
  --sl-line-height-looser: 2.6;

  /* Focus rings */
  --sl-focus-ring-color: var(--dds-horizon-blue);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 2px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 2px;

  /*
   * Forms
   */

  /* Buttons */
  --sl-button-font-size-small: var(--sl-font-size-2x-small);
  --sl-button-font-size-medium: var(--sl-font-size-small);
  --sl-button-font-size-large: var(--sl-font-size-medium);

  /* Inputs */
  --sl-input-height-small: 1.875rem; /* 30px */
  --sl-input-height-medium: 2.5rem; /* 40px */
  --sl-input-height-large: 3.125rem; /* 50px */

  --sl-input-background-color: white;
  --sl-input-background-color-hover: var(--sl-input-background-color);
  --sl-input-background-color-focus: var(--sl-input-background-color);
  --sl-input-background-color-disabled: var(--dds-lightest-gray);
  --sl-input-border-color: var(--dds-gray);
  --sl-input-border-color-hover: var(--dds-gray);
  --sl-input-border-color-focus: var(--dds-horizon-blue);
  --sl-input-border-color-disabled: var(--dds-gray);
  --sl-input-border-width: 1px;
  --sl-input-required-content: '*';
  --sl-input-required-content-offset: -2px;
  --sl-input-required-content-color: var(--dds-red);

  --sl-input-border-radius-small: var(--sl-border-radius-medium);
  --sl-input-border-radius-medium: var(--sl-border-radius-medium);
  --sl-input-border-radius-large: var(--sl-border-radius-medium);

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-font-weight: var(--sl-font-weight-normal);
  --sl-input-font-size-small: var(--sl-font-size-small);
  --sl-input-font-size-medium: var(--sl-font-size-medium);
  --sl-input-font-size-large: var(--sl-font-size-large);
  --sl-input-letter-spacing: var(--sl-letter-spacing-normal);

  --sl-input-color: var(--sl-color-neutral-700);
  --sl-input-color-hover: var(--sl-color-neutral-700);
  --sl-input-color-focus: var(--sl-color-neutral-700);
  --sl-input-color-disabled: var(--sl-color-neutral-900);
  --sl-input-icon-color: var(--sl-color-neutral-500);
  --sl-input-icon-color-hover: var(--sl-color-neutral-600);
  --sl-input-icon-color-focus: var(--sl-color-neutral-600);
  --sl-input-placeholder-color: var(--sl-color-neutral-500);
  --sl-input-placeholder-color-disabled: var(--sl-color-neutral-600);
  --sl-input-spacing-small: var(--sl-spacing-small);
  --sl-input-spacing-medium: var(--sl-spacing-medium);
  --sl-input-spacing-large: var(--sl-spacing-large);

  --sl-input-focus-ring-color: var(--dds-horizon-blue);
  --sl-input-focus-ring-offset: 0;

  --sl-input-filled-background-color: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-hover: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-focus: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-disabled: var(--sl-color-neutral-100);
  --sl-input-filled-color: var(--sl-color-neutral-800);
  --sl-input-filled-color-hover: var(--sl-color-neutral-800);
  --sl-input-filled-color-focus: var(--sl-color-neutral-700);
  --sl-input-filled-color-disabled: var(--sl-color-neutral-800);

  /* Labels */
  --sl-input-label-font-size-small: var(--sl-font-size-small);
  --sl-input-label-font-size-medium: var(--sl-font-size-medium);
  --sl-input-label-font-size-large: var(--sl-font-size-large);
  --sl-input-label-color: inherit;

  /* Help text */
  --sl-input-help-text-font-size-small: var(--sl-font-size-x-small);
  --sl-input-help-text-font-size-medium: var(--sl-font-size-small);
  --sl-input-help-text-font-size-large: var(--sl-font-size-medium);
  --sl-input-help-text-color: var(--dds-gray);

  /* Toggles (checkboxes, radios, switches) */
  --sl-toggle-size-small: 0.875rem; /* 14px */
  --sl-toggle-size-medium: 1.125rem; /* 18px */
  --sl-toggle-size-large: 1.375rem; /* 22px */

  /*
   * Overlays
   */

  --sl-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /*
   * Panels
   */

  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-200);
  --sl-panel-border-width: 1px;

  /*
   * Tooltips
   */

  --sl-tooltip-border-radius: var(--sl-border-radius-medium);
  --sl-tooltip-background-color: var(--dds-black);
  --sl-tooltip-color: var(--dds-white);
  --sl-tooltip-font-family: var(--sl-font-sans);
  --sl-tooltip-font-weight: var(--sl-font-weight-normal);
  --sl-tooltip-font-size: var(--sl-font-size-small);
  --sl-tooltip-line-height: var(--sl-line-height-dense);
  --sl-tooltip-padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
  --sl-tooltip-arrow-size: 6px;

  /*
   * Z-indexes
   */

  --sl-z-index-drawer: 700;
  --sl-z-index-dialog: 800;
  --sl-z-index-dropdown: 900;
  --sl-z-index-toast: 950;
  --sl-z-index-tooltip: 1000;
}

/* _utility.css */
